#studentContainer {height:100%; float:left; width:50%; background-color:#228B22}
#employerContainer{height:100%; float:left; width:50%; background-color:#4169E1}

.centeredText
{
line-height:7em;
color:#FFFFFF;
text-indent:50px;
font-size:100px;
}
.error
{
color:#FF0000;
}
.topmenu
{
float:right;
padding-right:20px;
padding-left:20px;
width:150px;
height:40px;
}
.displayUser
{
float:right;
font-size:20px;
font-style:bold;
padding-right:20px;
padding-left:20px;
}
h1
{
text-align:center;
font-size:72px;
}
table
{
border-collapse:collapse;
table-layout:fixed;
border:2px solid black;
width:100%;
}
th
{
height:50px;
border:2px solid black;
font-size:40px;
width:50%;
}
td
{
width:50%;
text-align:center;
border:1px solid black;
}
.newTask
{
display:block;
margin-left:auto;
margin-right:auto;
width:40%;
}
.viewTextBlock
{
margin-left:auto;
margin-right:auto;
width:40%;
}
.centeredButton
{
display:block;
margin-left:auto;
margin-right:auto;
width:50%;
width:150px;
height:40px;
}